<div class="home-page">

    <div class="home-content-area">

        @if (!showQuiz()) {

            <app-user-identification
                    (completed)="onUserValidated($event)"
                    (cancelled)="onCancelIdentification()">
            </app-user-identification>

        }

        @if (showQuiz()) {

            <app-questions-container
                    [userId]="currentUserId()!"
                    [userDni]="currentUserDni()!"
                    [surveyId]="currentSurveyId()!">
            </app-questions-container>

        }

    </div>

</div>